!!! XML
!!! Strict
%h1 Tatkovy "bozi" statistiky
%h2 Suma
%table
  %tr
    %td Pozemni Cile
    %td Auta + Vagonky + Letadla na zemi + Artilerie
  %tr
    %td Preziti
    %td Pristani + Nouzove pristani + Vyskoceni padakem + Zajeti

%table
  %tr
    %th Pilot
    %th Score
    %th Sestrelu
    %th Pozemni Cile
    %th AAA a tanky
    %th Stav
    %th Vystreleno naboju
    %th Zasahy vzduscnych cilu
    %th Zasahy pozemnich cilu
    %th Presnost strelby
    %th Vzletu
    %th Pristani
    %th Preziti
    %th %
  - @overall.each do |pilot|
    %tr
      %td= pilot.name
      %td= pilot.score
      %td= pilot.enemy_aircraft_kill
      %td= pilot.enemy_static_aircraft_kill + pilot.enemy_car_kill + pilot.enemy_wagon_kill + pilot.enemy_artillery_kill
      %td= pilot.enemy_AAA_kill + pilot.enemy_tank_kill
      %td= pilot.last_state
      %td= pilot.fire_bullets
      %td= pilot.hit_air_bullets
      %td= (pilot.hit_bullets - pilot.hit_air_bullets)
      %td=(pilot.bullet_accuracy*100).to_i.to_s + '%'
      %td= pilot.sorties
      %td= pilot.land_count
      %td= pilot.survived_count
      %td=(pilot.survivability*100).to_i.to_s + '%'
%img{ :src => "bf109karik.png"}
%h2 Podrobne
- @missions.reverse.each_with_index do |mission, index|
  %h3 
    Mise cislo 
    =@missions.size - index
  %table
    %tr
      %th Pilot
      %th Score
      %th Sestrelu
      %th Pozemni Cile
      %th AAA a tanky
      %th Vystreleno naboju
      %th Zasahy do vzdusnych cilu
      %th Z toho do pozemnich cilu
      %th Stav
    - mission.each do |pilot|
      %tr
        %td= pilot.name
        %td= pilot.score
        %td= pilot.enemy_aircraft_kill
        %td= pilot.enemy_static_aircraft_kill + pilot.enemy_car_kill + pilot.enemy_wagon_kill + pilot.enemy_artillery_kill
        %td= pilot.enemy_AAA_kill + pilot.enemy_tank_kill
        %td= pilot.fire_bullets
        %td= pilot.hit_air_bullets
        %td= pilot.hit_bullets - pilot.hit_air_bullets
        %td= pilot.last_state