!!! XML utf-8
- #encoding: utf-8
%html
  %head
    %title
      Statistiky
    %link{ :rel => "stylesheet", :type => "text/css", :href => "output.css"}
  %body
    .heading
      .content
        #pinup_girl
        #generated
          Generovano:
          = Time.now.to_s
        .previous_statistics
          %ul
            %li
              %a{:href => "stalingrad.html"}
                Stalingrad 22.3. - 25.05.2009
            %li
              %a{:href => "output.html"}
                Aktuální

        %table#overall_stats{:rules => "rows"}
          %caption Přehled
          %tr
            %th Pilot
            %th Skóre
            %th Vzletů celkem
            %th Sestřelů
            %th Pozemních
            %th Přežil celkem
            %th Vystřeleno
            %th Zas. vzduch
            %th Střelba
            %th % Přežil

          - @overall.sort{|p1, p2| (p1.score != p2.score) ? (p1.score <=> p2.score) : (p1.alive_streak != p2.alive_streak ? p1.alive_streak <=> p2.alive_streak : p1.kill_streak <=> p2.kill_streak) }.reverse.each do |pilot|
            %tr
              %td.pilot_name= pilot.name
              %td.score{:align => "right"}= pilot.score
              %td{:align => "right"}= pilot.sorties
              %td{:align => "right"}= pilot.enemy_aircraft_kill
              %td{:align => "right"}= pilot.enemy_wagon_kill + pilot.enemy_car_kill + pilot.enemy_AAA_kill + pilot.enemy_tank_kill + pilot.enemy_artillery_kill + pilot.enemy_static_aircraft_kill
              %td{:align => "right"}= pilot.survived_count
              %td{:align => "right"}= pilot.fire_bullets
              %td{:align => "right"}= pilot.hit_air_bullets
              %td{:align => "right"}= pilot.bullet_accuracy.to_s + '%'
              %td{:align => "right"}= pilot.survivability.to_s + '%'

        %table#current_fighter_stats{:rules => "rows"}
          %caption Aktuálně
          %tr
            %th Pilot
            %th
            %th
            %th Sestřelů
            %th Vzletů

          - @overall.sort{|p1, p2| (p1.kill_streak != p2.kill_streak) ? (p1.kill_streak <=> p2.kill_streak) : (p1.alive_streak != p2.alive_streak ? p1.alive_streak <=> p2.alive_streak : p1.score <=> p2.score) }.reverse.each do |pilot|
            %tr
              %td.pilot_name= pilot.name
              %td.kill_medals
                - kill_tens = pilot.kill_streak / 10
                - kill_fives = pilot.kill_streak % 10 / 5
                - kill_tens.times do
                  .ten_kills
                    .hidden_text 10 kills medal
                - kill_fives.times do
                  .five_kills
                    .hidden_text 5 kills medal
              %td.sortie_medals
                - alive_tens = pilot.alive_streak / 10
                - alive_fives = pilot.alive_streak % 10 / 5
                - alive_tens.times do
                  .ten_alive
                    .hidden_text 10 sorties medal
                -alive_fives.times do
                  .five_alive
                    .hidden_text 5 sorties medal
              %td{:align => "right"}= pilot.kill_streak
              %td{:align => "right"}= pilot.alive_streak

        %table#current_bomber_stats{:rules => "rows"}
          %caption Přehled -  bombardéři
          %tr
            %th Pilot
            %th Pozemní celkem
            %th Vlaky
            %th Auta
            %th AAA
            %th Tanky
            %th Artilerie
            %th Letadla na zemi
            %th Zas. země
            %th Odhozeno bomb

          - @overall.sort_by{|p| p.enemy_wagon_kill + p.enemy_car_kill + p.enemy_AAA_kill + p.enemy_tank_kill + p.enemy_artillery_kill + p.enemy_static_aircraft_kill}.reverse.each do |pilot|
            %tr
              %td= pilot.name
              %td{:align => "right"}= pilot.enemy_wagon_kill + pilot.enemy_car_kill + pilot.enemy_AAA_kill + pilot.enemy_tank_kill + pilot.enemy_artillery_kill + pilot.enemy_static_aircraft_kill
              %td{:align => "right"}= pilot.enemy_wagon_kill
              %td{:align => "right"}= pilot.enemy_car_kill
              %td{:align => "right"}= pilot.enemy_AAA_kill
              %td{:align => "right"}= pilot.enemy_tank_kill
              %td{:align => "right"}= pilot.enemy_artillery_kill
              %td{:align => "right"}= pilot.enemy_static_aircraft_kill
              %td{:align => "right"}= (pilot.hit_bullets - pilot.hit_air_bullets)
              %td{:align => "right"}= pilot.fire_bombs

        %table#high_scores{:rules => "rows"}
          %caption Kniha rekordů
          %tr
            %th Pilot
            %th
            %th
            %th Sestřelů
            %th Vzletů
          - @overall.sort_by(&:best_kill_streak).reverse.each do |pilot|
            %tr
              %td= pilot.name
              %td.kill_medals
                - kill_tens = pilot.best_kill_streak / 10
                - kill_fives = pilot.best_kill_streak % 10 / 5
                - kill_tens.times do
                  .ten_kills
                    .hidden_text 10 kills medal
                - kill_fives.times do
                  .five_kills
                    .hidden_text 5 kills medal
              %td.sortie_medals
                - alive_tens = pilot.best_alive_streak / 10
                - alive_fives = pilot.best_alive_streak % 10 / 5
                - alive_tens.times do
                  .ten_alive
                    .hidden_text 10 sorties medal
                -alive_fives.times do
                  .five_alive
                    .hidden_text 5 sorties medal
              %td{:align => "right"}= pilot.best_kill_streak
              %td{:align => "right"}= pilot.best_alive_streak

        %h2 Podrobne
        - @missions.each_with_index do |mission_log, index|
          %h3.mission
            = mission_log.real_world_date
          .time_lasted
            ="#{mission_log.lasted_minutes} min."
          .mission_block
            - blue_aces_killed = red_aces_killed = 0
            %table#mission{:rules => "rows"}
              %tr
                %th Pilot
                %th Skóre
                %th Sestřely
                %th Vlaky
                %th Auta
                %th Obrněnci
                %th Ostatní
                %th Vystřeleno
                %th Výsledek
                %th Letadlo
              - mission_log.mission.each do |pilot|
                %tr
                  %td.pilot_name= pilot.name
                  %td.score{:align => "right"}= pilot.score
                  - kill_plane_types = mission_log.planes[pilot.name].kills
                  - damaged_plane_types = mission_log.planes[pilot.name].damaged

                  - kill_plane_types = kill_plane_types.sort_by(&:plane_type)
                  - damaged_plane_types = damaged_plane_types.sort_by(&:plane_type)

                  - result = []

                  - until kill_plane_types.empty? do
                    - planes = kill_plane_types.take_while do |e|
                      - e.plane_type == kill_plane_types.first.plane_type
                    - text_to_add = kill_plane_types.first.human? ? kill_plane_types.first.pilot_name : kill_plane_types.first.plane_type
                    - if kill_plane_types.first.skill == 3.to_s
                      - case kill_plane_types.first.side
                        - when "BLUE" then
                          - text_to_add += "<div class='blue_star'><div class='hidden_text'>Ace!</div></div>"
                          - blue_aces_killed += 1
                        - when "RED" then
                          - text_to_add += "<div class='red_star'><div class='hidden_text'>Ace!</div></div>"
                          - red_aces_killed += 1
                    - if planes.size > 1
                      - plane_text = "#{planes.size}x#{text_to_add}" 
                      - result << plane_text
                    - else
                      -result << text_to_add
                    - kill_plane_types.shift(planes.size)

                  - result_damaged = []
                  - until damaged_plane_types.empty? do
                    - planes = damaged_plane_types.take_while do |e|
                      - e.plane_type == damaged_plane_types.first.plane_type
                    - text_to_add = damaged_plane_types.first.human? ? damaged_plane_types.first.pilot_name : damaged_plane_types.first.plane_type
                    - if planes.size > 1
                      - result_damaged << "#{planes.size}x#{text_to_add}"
                    - else
                      -result_damaged << text_to_add
                    - damaged_plane_types.shift(planes.size)

                  %td{:align => "right"}
                    = "#{result.join(", ")}"
                    - unless result_damaged.empty? then
                      +
                      = result_damaged.join(", ")
                      pošk.
                  %td{:align => "right"}= pilot.enemy_wagon_kill
                  %td{:align => "right"}= pilot.enemy_car_kill
                  %td{:align => "right"}= pilot.enemy_AAA_kill + pilot.enemy_tank_kill
                  %td{:align => "right"}= pilot.enemy_static_aircraft_kill + pilot.enemy_artillery_kill
                  %td{:align => "right"}= pilot.fire_bullets
                  %td{:align => "center"}= pilot.last_state
                  %td{:align => "left"}= mission_log.planes[pilot.name].plane_type
            -case red_aces_killed
            -when 0 then
            -when 1 then
              V souboji s námi zahynulo sovětské eso
              = pick_name(:russian)
            -else
              V soubojích s námi byli sestřeleni špičkoví sovětští piloti 
              - names = []
              - red_aces_killed.times do
                - names << pick_name(:russian)
              = names[0..-2].join(", ") + " a #{names.last}"
            -case blue_aces_killed
            -when 0 then
            -when 1 then
              V souboji s námi zahynulo německé eso
              = pick_name(:german)
            -else
              V soubojích s námi byli sestřeleni špičkoví němečtí piloti 
              - names = []
              - blue_aces_killed.times do
                - names << pick_name(:german)
              = names[0..-2].join(", ") + " a #{names.last}"
            
